<MudDialog>
    <DialogContent>
        <span style="display: block; text-align: center; color: red; font-size: 20px">请联系信息科解决!</span>

        <MudTextField @bind-Value="_currentPassword"
                      Label="管理员密码"
                      InputType="InputType.Password"
                      Variant="Variant.Text" />

        <MudTextField @bind-Value="_newPassword"
                      Label="@(Lang["NewPassword"])"
                      InputType="InputType.Password"
                      Variant="Variant.Text" />

        <MudTextField @bind-Value="_confirmPassword"
                      Label="@(Lang["ConfirmPassword"])"
                      InputType="InputType.Password"
                      Variant="Variant.Text" />
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary"
                   OnClick="Submit">
            @(Lang["Save"])
        </MudButton>
    </DialogActions>
</MudDialog>
